.error_info{
    margin-top: 100px;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.error_bg{
    flex: 0 0 62.5%;
    width: 62.5%;
    padding-right: 152px;
    zoom: 1;
}
.error_bg:after,.error_bg:before{
    content: " ";
    display: table;
}
.error_img{
    height: 360px;
    width: 100%;
    max-width: 430px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.error_content{
    flex: auto;
}
.error_content h1{
    color: #434e59;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 24px;
}
.error_content .error_text{
    color: rgba(0,0,0,.45);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
}